<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <!-- Thuộc tính sản phẩm -->
            <div class="mb-3">
                <h1 class="page-title">Thêm sản phẩm mới</h1>
                <div class=" rounded ">
                    <div class="d-flex justify-content-between">
                        <a href="#!san_pham">
                            <button class="btn btn-secondary">
                                <i class="fa-light fa-rotate-right"></i> Trở lại
                            </button>
                        </a>
                    </div>
                </div>
                <div class="border border-3 rounded p-3 mt-3">
                    <h3 class="mb-4 mt-1">Thuộc tính sản phẩm</h3>
                    <div class="mb-3 mt-3">
                        <label for="productId" class="form-label">Id sản phẩm:</label>
                        <input ng-model="productData.idSanPham" type="text" class="form-control" disabled>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="productName" class="form-label">Tên sản phẩm:</label>
                        <input ng-model="productData.tenSanPham" type="text" class="form-control" disabled>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="material" class="form-label">Chất liệu</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="material" class="form-control me-2" readonly
                                    ng-model="materialDisplay" placeholder="Chọn chất liệu">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#materialModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label for="color" class="form-label">Màu sắc</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="color" class="form-control me-2" readonly ng-model="colorDisplay"
                                    placeholder="Chọn màu sắc">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#colorModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label for="size" class="form-label">Kích thước</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="size" class="form-control me-2" readonly ng-model="sizeDisplay"
                                    placeholder="Chọn kích thước">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#sizeModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger" ng-click="saveProduct()">
                            <i class="fa-light fa-plus"></i> Thêm thuộc tính
                        </button>
                    </div>
                </div>
            </div>
            <div class="border border-3 rounded p-3 mb-5">
                <h3 class="mb-4 mt-3">Danh sách các sản phẩm cùng loại</h3>
                <div>
                    <button class="btn btn-success" ng-click="saveQuantities()"><i class="fa-solid fa-check"></i> Lưu số
                        lượng sản phẩm đã chọn</button>

                    <button class="btn btn-danger" ng-click="xoaNhieuSanPham()"><i class="fa-solid fa-xmark"></i> Xóa
                        sản
                        phẩm chi tiết đã chọn</button>
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#quantityModal"
                        ng-show="hasSelectedItems()">
                        <i class="fa-solid fa-check"></i> Nhập số lượng đã chọn
                    </button>
                </div>
                <div id="show-product">

                    <div class="card shadow mb-4 mt-3" ng-if="filteredProducts.length > 0">
                        <div class="card-body">
                            <h4 class="mb-4 mt-3 text-center">Tên sản phẩm:
                                {{filteredProducts[0].colors[0].products[0].productName}}</h4>

                            <div ng-repeat="materialGroup in filteredProducts">
                                <h6>Chất liệu: {{materialGroup.material}}</h6>

                                <div ng-repeat="colorGroup in materialGroup.colors">
                                    <h7>{{colorGroup.color}}</h7>

                                    <div class="table-responsive text-center">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        <!-- Checkbox chọn tất cả -->
                                                        <input type="checkbox" ng-model="selectAll"
                                                            ng-change="toggleSelectAll(selectAll, colorGroup.products[0].items)">
                                                    </th>
                                                    <th scope="col">Mã sản phẩm</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col">Chất liệu</th>
                                                    <th scope="col">Màu sắc</th>
                                                    <th scope="col">Kích thước</th>
                                                    <th scope="col">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Lặp qua các sản phẩm -->
                                                <tr ng-repeat="item in colorGroup.products[0].items">
                                                    <th scope="row">
                                                        <!-- Checkbox chọn sản phẩm -->
                                                        <input type="checkbox" ng-model="item.selected"
                                                            ng-change="updateSelectAll(colorGroup.products[0].items)">
                                                    </th>
                                                    <td>{{item.maSanPhamCT}}</td>
                                                    <td>{{item.tenSanPham}}</td>
                                                    <td>
                                                        <!-- Input số lượng chung cho tất cả sản phẩm đã chọn -->
                                                        <input type="number" class="form-control"
                                                            ng-model="item.soLuong"
                                                            ng-change="updateSelectedQuantities()">
                                                    </td>
                                                    <td>{{item.tenChatLieu}}</td>
                                                    <td>{{item.tenMauSac}}</td>
                                                    <td>{{item.tenKichThuoc}}</td>
                                                    <td>
                                                        <a class="btn btn-danger btn-sm"
                                                            ng-click="xoaSanPham(item.idSanPhamCT)">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!filteredProducts.length">Không có sản phẩm nào phù hợp.</div>
                </div>

            </div>
        </div>
    </div>
</main>


<!-- Modal số lượng -->
<div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="quantityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quantityModalLabel">Nhập số lượng đã chọn</h5>
            </div>
            <div class="modal-body">
                <div class="mt-3">
                    <!-- Mục nhập số lượng chung cho các sản phẩm đã chọn -->
                    <input type="number" id="commonQuantity" class="form-control" ng-model="commonQuantity" min="1">
                </div>
                <!-- Nút chỉnh sửa số lượng chung -->
                <button class="btn btn-warning" ng-click="editCommonQuantity()">
                    <i class="fa-solid fa-pen"></i> Lưu số lượng
                </button>
            </div>
        </div>
    </div>
</div>


<!--Modal Chất liệu -->
<div class="modal fade" id="materialModal" tabindex="-1" aria-labelledby="materialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="materialModalLabel">Chọn chất liệu</h5>
                <button class="modal-close product-form" ng-click="hideModal('materialModal')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="d-flex justify-content-end me-4 mt-3">
                <button type="button" class="btn-control-large" data-bs-toggle="modal"
                    data-bs-target="#addChatLieuModal">
                    <i class="fa-light fa-plus"></i> Thêm chất liệu mới
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="chatLieu in dsChatLieu track by $index">
                        <input type="checkbox" ng-model="chatLieu.selected" ng-change="updateMaterial(chatLieu)" />
                        {{chatLieu.tenChatLieu}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal Thêm Chất liệu -->
<div class="modal fade" id="addChatLieuModal" tabindex="-1" role="dialog" aria-labelledby="addChatLieuModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addChatLieuModalLabel">{{'Thêm Chất liệu'}}
                </h5>
                <button class="modal-close product-form" data-bs-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="productForm" ng-submit="onCreateChatLieu()">
                    <div class="form-group">
                        <label for="ten_chat_lieu">Tên Chất Liệu:</label>
                        <input type="text" class="form-control" ng-model="ChatLieu.tenChatLieu" id="ten_chat_lieu"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="mo_ta">Mô Tả:</label>
                        <textarea class="form-control" ng-model="ChatLieu.moTa" id="mo_ta"></textarea>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#materialModal">
                            Quay lại
                        </button>
                        <button type="submit" class="btn btn-primary">{{'Thêm Chất Liệu'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<!-- Modal Màu sắc -->
<div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="colorModalLabel">Chọn Màu Sắc</h5>
                <button class="modal-close product-form" ng-click="hideModal('colorModal')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="d-flex justify-content-end me-4 mt-3">
                <button type="button" class="btn-control-large" data-bs-toggle="modal" data-bs-target="#addMauSacModal">
                    <i class="fa-light fa-plus"></i> Thêm màu sắc mới
                </button>
            </div>
            <div class="modal-body">
                <h6>Màu Sắc</h6>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="mauSac in dsMauSac track by $index">
                        <input type="checkbox" ng-model="mauSac.selected" ng-change="updateColor(mauSac)" />
                        {{mauSac.tenMauSac}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thêm/Màu Sắc -->
<div class="modal fade" id="addMauSacModal" tabindex="-1" role="dialog" aria-labelledby="addMauSacModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMauSacModalLabel">{{'Thêm Màu Sắc'}}</h5>
                <button class="modal-close product-form" data-bs-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="productForm" ng-submit="onCreateMauSac()">
                    <div class="form-group">
                        <label for="ten_mau_sac">Tên Màu Sắc:</label>
                        <input type="text" class="form-control" ng-model="MauSac.tenMauSac" id="ten_mau_sac" required>
                    </div>
                    <div class="form-group">
                        <label for="mo_ta">Mô Tả:</label>
                        <textarea class="form-control" ng-model="MauSac.moTa" id="mo_ta"></textarea>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#colorModal">
                            Quay lại
                        </button>
                        <button type="submit" class="btn btn-primary">{{'Thêm Màu Sắc'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Kích thước -->
<div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sizeModalLabel">Chọn Kích Thước</h5>
                <button class="modal-close product-form" ng-click="hideModal('sizeModal')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="d-flex justify-content-end me-4 mt-3">
                <button type="button" class="btn-control-large" data-bs-toggle="modal"
                    data-bs-target="#addKichThuocModal">
                    <i class="fa-light fa-plus"></i> Thêm kích thước mới
                </button>
            </div>
            <div class="modal-body">
                <h6>Kích Cỡ</h6>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="kichThuoc in dsKichThuoc track by $index">
                        <input type="checkbox" ng-model="kichThuoc.selected" ng-change="updateSize(kichThuoc)" />
                        {{kichThuoc.tenKichThuoc}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thêm/Kích Thước -->
<div class="modal fade" id="addKichThuocModal" tabindex="-1" role="dialog" aria-labelledby="addKichThuocModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addKichThuocModalLabel">{{'Thêm Kích Thước'}}
                </h5>
                <button class="modal-close product-form" data-bs-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="productForm" ng-submit="onCreateKichThuoc()">
                    <div class="form-group">
                        <label for="ten_kich_thuoc">Tên Kích Thước:</label>
                        <input type="text" class="form-control" ng-model="KichThuoc.tenKichThuoc" id="ten_kich_thuoc"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="mo_ta">Mô Tả:</label>
                        <textarea class="form-control" ng-model="KichThuoc.moTa" id="mo_ta"></textarea>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#sizeModal">
                            Quay lại
                        </button>
                        <button type="submit" class="btn btn-primary">{{'Thêm Kích Thước'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>