<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="page-title">Chi Tiết Sản Phẩm</h1>
            <div class="rounded ">
                <div class="d-flex justify-content-between">
                    <a href="#!san_pham">
                        <button class="btn btn-secondary">
                            <i class="fa-light fa-rotate-right"></i> Trở lại
                        </button>
                    </a>
                </div>
            </div>
            <div class=" my-2 p-4 border rounded shadow-lg">
                <!-- Thông tin chung của sản phẩm -->
                <section class="product-overview mb-5">
                    <h3 class="h5 text-black mb-4" style="font-weight: bold;">Thông Tin Sản Phẩm</h3>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    Thông Tin Cơ Bản
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled mb-0"
                                                ng-repeat="item in sanPhamChiTiet track by $index">
                                                <li class="mb-2"><strong>Mã sản phẩm:</strong> {{item.maSanPham}}</li>
                                                <li class="mb-2"><strong>Tên sản phẩm:</strong> {{item.tenSanPham}}</li>
                                                <li class="mb-2"><strong>Danh mục:</strong> {{item.tenDanhMuc}}</li>
                                                <li class="mb-2"><strong>Giá bán:</strong> {{ item.giaBan/1 | currency:
                                                    '': 0 }}</span> VND</li>
                                                <li class="mb-2"><strong>Ngày tạo:</strong> {{item.ngayTao |
                                                    date:'dd/MM/yyyy'}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-unstyled mb-0"
                                                ng-repeat="item in sanPhamChiTiet track by $index">
                                                <li class="mb-2"><strong>Mô tả sản phẩm:</strong> {{item.moTa}}</li>
                                                <!-- <li class="mb-2"><strong>Đánh giá sản phẩm:</strong>
                                                    {{product_description}} 0.0
                                                    <span class="star text-warning">
                                                        <i class="fas fa-star"></i></span>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Hình ảnh sản phẩm -->
                <section class="product-images mb-5">
                    <h3 class="h5 text-black mb-4" style="font-weight: bold;">Hình Ảnh Sản Phẩm</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-thumbnails d-flex">
                                <div class="thumbnail-item me-2" ng-repeat="anh in anhSanPham track by $index">
                                    <img ng-src="{{anh.urlAnh}}" alt="Ảnh sản phẩm" class="img-thumbnail"
                                        ng-click="selectImage(anh.urlAnh)">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- Modal -->
                <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel">Xem Hình Ảnh</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <img id="modalImage" src="" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Chi tiết sản phẩm -->
                <section class="product-details mb-5">
                    <h3 class="h5 text-black mb-4" style="font-weight: bold;">Danh Sách Chi Tiết Sản Phẩm Hiện Đang Có
                        Sẵn Trong Kho</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>#</th>
                                    <th>Mã chi tiết sản phẩm</th>
                                    <th>Tên chi tiết sản phẩm</th>
                                    <th>Chất liệu</th>
                                    <th>Màu sắc</th>
                                    <th>Kích thước</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in dsSanPhamChiTiet track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.maSanPhamCT}}</td>
                                    <td>{{item.tenSanPham}}</td>
                                    <td>{{item.tenChatLieu}}</td>
                                    <td>{{item.tenMauSac}}</td>
                                    <td>{{item.tenKichThuoc}}</td>
                                    <td>{{item.soLuong}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>