<div class="container">
    <section class="py-5" style="margin-top: 100px;">
        <h5 class="fw-bold mb-5" style="color: #47357B;">
            <a href="#!san_pham" class="text-decoration-none"><i class="fas fa-angle-left me-2"></i>Back to shopping</a>
        </h5>

        <div class="container my-5">
            <div class="row gx-4 gx-lg-5 align-items-start">
                <div class="col-md-1" style="padding-left: 0px; padding-right: 0px;">
                    <div class="align-items-start mb-2">
                        <div class="mb-3" ng-repeat="anh in anhSanPham track by $index">
                            <img class="d-block w-100" ng-src="{{anh.urlAnh}}" alt="Ảnh sản phẩm"
                                style="cursor:pointer;" ng-click="showProductDetail($index)">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item mySlides" ng-repeat="anh in anhSanPham track by $index"
                                ng-class="{'active': $index === 0}">
                                <img class="d-block w-100" ng-src="{{anh.urlAnh}}" alt="Ảnh sản phẩm" />
                            </div>
                        </div>

                        <!-- Dots -->
                        <div class="dots">
                            <span class="demo" ng-repeat="anh in anhSanPham track by $index"
                                ng-click="currentDiv($index + 1)"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 d-flex flex-column" style="padding-left: 0px;padding-right: 0px;"
                    ng-repeat="sanPhamChiTiet in sanPhamChiTiet track by $index">
                    <h1 class="display-5 fw-bolder">{{sanPhamChiTiet.tenSanPham}}</h1>
                    <div class="fs-5">
                        <h3><span>{{ sanPhamChiTiet.giaBan/1 | currency: '$': 0 }}</span> VND</h3>
                    </div>
                    <div class="product-details">
                        <div>
                            <p><strong>Tên sản phẩm:</strong> {{sanPhamChiTiet.tenSanPham}}</p>
                            <p><strong>Màu sắc:</strong>
                            <ul class="menu-list">
                                <li class="menu-list-item">
                                    <a href="" class="menu-link text-dark text-decoration-none"
                                        ng-repeat="mauSacChiTiet in mauSacChiTiet track by $index"
                                        ng-click="onclickMauSac(mauSacChiTiet.idMauSacCT)">
                                        {{mauSacChiTiet.tenMauSac}}
                                    </a>
                                </li>
                            </ul>
                            </p>
                            <p><strong>Chất liệu:</strong>
                            <ul class="menu-list">
                                <li class="menu-list-item">
                                    <a href="" class="menu-link text-dark text-decoration-none"
                                        ng-repeat="chatLieuChiTiet in chatLieuChiTiet track by $index"
                                        ng-click="onclickKichThuoc(chatLieuChiTiet.idChatLieuCT)">
                                        {{chatLieuChiTiet.tenChatLieu}}
                                    </a>
                                </li>
                            </ul>
                            </p>
                            <p><strong>Kích thước:</strong>
                            <ul class="menu-list">
                                <li class="menu-list-item">
                                    <a href="" class="menu-link text-dark text-decoration-none"
                                        ng-repeat="kichThuocChiTiet in kichThuocChiTiet track by $index"
                                        ng-click="onclickKichThuoc(kichThuocChiTiet.idKichThuocCT)">
                                        {{kichThuocChiTiet.tenKichThuoc}}
                                    </a>
                                </li>
                            </ul>
                            </p>
                            <p><strong>Mô tả:</strong> {{sanPhamChiTiet.moTa}}</p>
                        </div>
                    </div>

                    <!-- Buttons for adding to cart and checkout -->
                    <div class="mt-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center btn btn-danger" ng-click="addToCart(sanPhamChiTiet)">
                                <div class="cart-icon-menu me-2" style="position: relative;">
                                    <i class="fa-solid fa-bag-shopping" style="font-size: 24px; color: #ffffff;"></i>
                                </div>
                                <span style="color: #fbfbfb; font-weight: 500; cursor: pointer;padding-left: 15px;">Giỏ
                                    hàng</span>
                            </div>
                            <div>
                                <a href="#!thanh_toan" class="text-decoration-none">
                                    <button class="btn btn-danger ms-2"
                                        style="background-color: rgb(52, 186, 148); border: none; padding: 10px 20px; font-size: 23px;"
                                        ng-click="checkout(sanPhamChiTiet)">
                                        <i class="fa-solid fa-bolt"></i> Mua ngay
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-info-tabs mt-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                        aria-controls="description" aria-selected="true">{{sanPhamChiTiet.moTa}}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                    aria-labelledby="description-tab">
                    <p>THÔNG SỐ KỸ THUẬT SẢN PHẨM: <br>
                        - Kích cỡ: 1-2cm <br>
                        ✔Quy trình sản xuất: Đá được gom lại từ các phần dư thừa khi chế tác các sản phẩm nguyên khối
                        to, sau đó được gia công làm nhỏ và cho vào máy rung để tạo độ bóng mịn cho đá.</p>
                    <p>CÔNG DỤNG LỢI ÍCH: <br>
                        ✔ Dùng để trấn trạch: sẽ được rải tại các vị trí đặc biệt trong nhà: nền nhà, bậc tam cấp, cổng
                        ra vào, chỗ đặt bàn thờ, các góc nhà, bàn tiếp khách, dùng để trang trí cây cảnh, lót giường, để
                        tủ, bàn học....
                        Trang trí chậu cây cảnh, bàn học, lọ hoa..</p>
                    <p>CHẾ ĐỘ BẢO HÀNH: <br>
                        ✔ SHOP cam kết với khách hàng: <br>
                        ✔Sản phẩm là đá tự nhiên, nếu khách hàng phát hiện không phải là đá thật shop xin hoàn tiền 10
                        lần <br>
                        ✔Hỗ trợ khách hàng đổi sản phẩm miễn phí trong 7 ngày nếu có lỗi.
                        ✔Chất lượng đặt nên hàng đầu <br>
                        <br> LH: 0918829273
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>