<section id="page-header" class="about-header">
    <!-- <h2>#let's_talk</h2>
    <p>LEAVE A MESSAGE, We love to hear from you!</p> -->
</section>

<section id="cart" class="section-p1">
    <h2 class="cart-title mb-4">Giỏ hàng của bạn</h2>
    <!-- Nút xóa tất cả sản phẩm với cảnh báo xác nhận -->
    <button class="btn btn-danger mb-2" ng-click="clearAllCart()">
        <i class="fa-regular fa-circle-xmark"></i> Xóa tất cả sản phẩm
    </button>
    <table width="100%">
        <thead>
            <tr>
                <td>Xóa</td>
                <td>Hình ảnh</td>
                <td>Thông tin sản phẩm</td>
                <td>Giá tiền</td>
                <td>Số lượng</td>
                <td>Thành Tiền</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in cart track by item.idSanPhamCT">
                <td>
                    <button type="button" class="btn btn-link" aria-label="Xóa sản phẩm"
                        ng-click="removeFromCart(item.idSanPhamCT)">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                </td>
                <td>
                    <img ng-src="{{item.urlAnh}}" alt="Hình sản phẩm" class="cart-item-image"
                        style="max-width: 100px; max-height: 100px;">
                </td>
                <td>
                    <strong>
                        <a href="#!san_pham_chi_tiet/{{item.idSanPhamCT}}"
                            class="text-decoration-none">{{item.tenSanPham}}</a>
                    </strong><br>
                    <small>Chất liệu: {{item.chatLieu}}</small><br>
                    <small>Màu sắc: {{item.mauSac}}</small><br>
                    <small>Kích thước: {{item.kichThuoc}}</small>
                </td>
                <td>
                    <!-- Hiển thị giá khuyến mãi nếu có và giá không null -->
                    <div ng-if="item.giaKhuyenMai != null && isValidDiscountPeriod(item)"
                        class="d-flex flex-column align-items-center">
                        <span class="text-danger mb-2">
                            {{ item.giaKhuyenMai | currency: '': 0 }} VND
                        </span>
                        <!-- Hiển thị giá ban đầu nếu có giảm giá và giá bán không null -->
                        <span>
                            <del>{{ item.giaBan | currency: '': 0 }}</del> VND
                        </span>
                    </div>

                    <!-- Nếu không có giảm giá hoặc giá khuyến mãi null, chỉ hiển thị giá gốc -->
                    <div ng-if=" item.giaKhuyenMai === null || !isValidDiscountPeriod(item)"
                        class="d-flex flex-column align-items-center">
                        <span>{{ item.giaBan | currency: '': 0 }} VND</span>
                    </div>
                </td>
                <td>
                    <input type="number" ng-model="item.soLuongGioHang" ng-blur="updateCart(item)"
                        aria-label="Số lượng sản phẩm" class="number-input" ng-change="checkQuantity(item)"
                        placeholder="Số lượng" />
                </td>

                <td>
                    <!-- Tính toán Thành Tiền dựa trên giá khuyến mãi nếu có, nếu không thì tính theo giá bán -->
                    <span>{{ item.soLuongGioHang * (item.giaKhuyenMai != null ? item.giaKhuyenMai : item.giaBan) |
                        currency: '' : 0 }} VND</span>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1 mt-4">
    <div class="coupon">
    </div>
    <div class="subtotal">
        <h4>Tổng cộng giỏ hàng</h4>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td>Tổng phụ</td>
                    <td>{{ getTotal()/1 | currency: '': 0 }}</span> VND</td>
                </tr>

                <tr class="font-weight-bold">
                    <td><strong>Tổng cộng</strong></td>
                    <td><strong>{{ getTotal() | currency: '': 0 }} VND</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <div class="text-center mt-3">
                <a ng-disabled="!isValidCart" ng-click="checkout()">
                    <button type="button" class="btn btn-success" class="text-decoration-none text-light">
                        <i class="fas fa-check me-2"></i>Thanh toán
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>