<section id="page-header">
    <!-- <h2>#stayhome</h2>
    <p>Save more with coupons & up to 70% off!</p> -->
</section>
<section id="product1" class="section-p1" style="padding-left: 40px;">

    <!-- Row 1 -->
    <div class="row">
        <!-- Filter Section (Left column) -->
        <div class="col-md-3">
            <div style="padding-right: 26px;">
                <!-- Selected Filters -->
                <div>
                    <h5>Bạn đã chọn</h5>
                    <div class="mb-3"
                        ng-if="selectedDanhMuc || selectedMauSac || selectedChatLieu || selectedKichThuoc">
                        <span ng-if="selectedDanhMuc" class="badge bg-danger me-2 text-light">
                            {{selectedDanhMuc}} <i class="fa-solid fa-xmark" ng-click="removeFilter('DanhMuc')"></i>
                        </span>
                        <span ng-if="selectedMauSac" class="badge bg-danger me-2 text-light">
                            {{selectedMauSac}} <i class="fa-solid fa-xmark" ng-click="removeFilter('MauSac')"></i>
                        </span>
                        <span ng-if="selectedChatLieu" class="badge bg-danger me-2 text-light">
                            {{selectedChatLieu}} <i class="fa-solid fa-xmark" ng-click="removeFilter('ChatLieu')"></i>
                        </span>
                        <span ng-if="selectedKichThuoc" class="badge bg-danger me-2 text-light">
                            {{selectedKichThuoc}} <i class="fa-solid fa-xmark" ng-click="removeFilter('KichThuoc')"></i>
                        </span>
                    </div>
                    <div ng-if="!selectedMauSac && !selectedChatLieu && !selectedKichThuoc && !selectedDanhMuc">
                        <p class="text-muted">Chưa có bộ lọc nào được chọn</p>
                    </div>
                </div>
                <hr>
                <!-- Thêm ô tìm kiếm sản phẩm với button search -->
                <div class="d-flex">
                    <input type="text" class="form-control me-2" placeholder="Tìm kiếm sản phẩm..."
                        ng-model="searchTerm" ng-keypress="handleKeyPress($event)">
                    <button class="btn btn-danger" ng-click="searchProducts()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <hr>



                <!-- Price Range Filter -->
                <div class="mb-3">
                    <label for="priceRange" class="form-label" style="font-weight: bold;">Sắp xếp khoảng giá</label>
                    <div class="d-flex justify-content-between">
                        <!-- Hiển thị giá min và max với định dạng tiền tệ -->
                        <span>{{ priceRange.min | number:0 }} VND</span>
                        <span>{{ priceRange.max | number:0 }} VND</span>
                    </div>
                    <input type="range" class="form-range" id="priceRange" min="0" max="1000000" step="1000"
                        ng-model="priceRange.min" ng-change="updatePriceRange()">
                </div>


                <hr>
                <!-- Category Filter -->
                <div>
                    <button class="btn w-100 d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse" data-bs-target="#demo1">
                        Danh Mục
                        <i class="fa-solid fa-plus"></i>
                    </button>

                    <div id="demo1" class="collapse">
                        <div class="list-group">
                            <div class="form-check" ng-repeat="item in dsDanhMuc" ng-click="selectDanhMuc(item)">
                                <input class="form-check-input" type="radio" name="DanhMuc"
                                    id="DanhMuc{{item.idDanhMuc}}" value="{{item.tenDanhMuc}}"
                                    ng-checked="selectedCategoryId === item.idDanhMuc">
                                <label class="form-check-label" for="DanhMuc{{item.idDanhMuc}}">
                                    <a href="" class="menu-link text-dark text-decoration-none me-5">
                                        {{item.tenDanhMuc}}
                                    </a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <!-- Chất Liệu Filter -->
                <div>
                    <button class="btn w-100 d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse" data-bs-target="#demo2">
                        Chất Liệu
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <div id="demo2" class="collapse">
                        <div class="list-group">
                            <div class="form-check" ng-repeat="item in dsChatLieu" ng-click="selectChatLieu(item)">
                                <input class="form-check-input" type="radio" name="ChatLieu" id="ChatLieu{{item.id}}"
                                    value="{{item.tenChatLieu}}" ng-checked="selectedChatLieu === item.tenChatLieu">
                                <label class="form-check-label" for="ChatLieu{{item.id}}">
                                    <a href=""
                                        class="menu-link text-dark text-decoration-none me-5">{{item.tenChatLieu}}</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Category Filter -->
                <div>
                    <button class="btn w-100 d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse" data-bs-target="#demo3">
                        Màu Sắc
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <div id="demo3" class="collapse">
                        <div class="list-group">
                            <div class="form-check" ng-repeat="item in dsMauSac" ng-click="selectMauSac(item)">
                                <input class="form-check-input" type="radio" name="MauSac" id="MauSac{{item.id}}"
                                    value="{{item.tenMauSac}}" ng-checked="selectedMauSac === item.tenMauSac">
                                <label class="form-check-label" for="MauSac{{item.id}}">
                                    <a href=""
                                        class="menu-link text-dark text-decoration-none me-5">{{item.tenMauSac}}</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Kích Thước Filter -->
                <div>
                    <button class="btn w-100 d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse" data-bs-target="#demo4">
                        Kích Thước
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <div id="demo4" class="collapse">
                        <div class="list-group">
                            <div class="form-check" ng-repeat="item in dsKichThuoc" ng-click="selectKichThuoc(item)">
                                <input class="form-check-input" type="radio" name="KichThuoc" id="KichThuoc{{item.id}}"
                                    value="{{item.tenKichThuoc}}" ng-checked="selectedKichThuoc === item.tenKichThuoc">
                                <label class="form-check-label" for="KichThuoc{{item.id}}">
                                    <a href=""
                                        class="menu-link text-dark text-decoration-none me-5">{{item.tenKichThuoc}}</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <div class="col-md-9">
            <h2>Bộ Sưu Tập Sản Phẩm Cao Cấp</h2>
            <p>Những sản phẩm cao cấp, chất lượng vượt trội và thiết kế tinh tế, mang đến trải nghiệm mua sắm đẳng
                cấp.</p>
            <div class="prod-cont">
                <div class="prod" ng-repeat="item in dsSanPham">
                    <a href="#!san_pham_ct/{{item.idSanPham}}" class="text-decoration-none text-dark">
                        <img ng-src="{{item.urlAnh}}" alt="">
                        <div class="des">
                            <b>{{item.tenSanPham}}</b>
                            <h5>{{item.moTa}}</h5>
                            <div class="d-flex align-items-center">
                                <!-- Kiểm tra nếu có giảm giá thì hiển thị badge giảm giá -->
                                <span ng-if="item.kieuGiamGia !== null && isValidDiscountPeriod(item)"
                                    class="badge bg-danger me-2 text-light text-center">
                                    <i class="fa-solid fa-tag text-light d-flex align-items-center">
                                        <div class="ms-1">
                                            {{item.kieuGiamGia ? (item.giaTriKhuyenMai | number) + ' VND' :
                                            item.giaTriKhuyenMai
                                            + ' %'}}
                                        </div>
                                    </i>
                                </span>


                                <div class="star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <!-- Hiển thị giá khuyến mãi nếu có giảm giá và trong khoảng thời gian hợp lệ -->
                                <span ng-if="item.giaKhuyenMai !== null && isValidDiscountPeriod(item)"
                                    class="text-danger me-3" style="font-weight: bold; font-size: 20px;">
                                    {{ item.giaKhuyenMai | currency: '': 0}} VND
                                </span>

                                <!-- Hiển thị giá ban đầu nếu có giá giảm và trong khoảng thời gian hợp lệ -->
                                <span ng-if="item.giaKhuyenMai !== null && isValidDiscountPeriod(item)"
                                    style="font-size: 13px;">
                                    <del>{{ item.giaBan | currency: '': 0}}</del> VND
                                </span>

                                <!-- Nếu không có giá khuyến mãi hoặc không trong khoảng thời gian thì chỉ hiển thị giá gốc -->
                                <h4 ng-if="item.giaKhuyenMai === null || !isValidDiscountPeriod(item)"
                                    style="font-size: 18px;">
                                    <span>{{ item.giaBan | currency: '': 0}} VND</span>
                                </h4>
                            </div>


                        </div>
                        <a href="#!san_pham_ct/{{item.idSanPham}}"><i class="fa-solid fa-cart-shopping cart"></i></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pagination" class="section-p1">
    <!-- Nút Previous -->
    <a href="" ng-click="changePage(page - 1)" ng-class="{ 'disabled': page === 0 }" class="page-btn prev">
        <i class="fa-solid fa-chevron-left"></i>
    </a>

    <!-- Trang đầu -->
    <a href="" ng-click="changePage(0)" ng-class="{ 'active': page === 0 }">1</a>

    <!-- Dấu "..." nếu có nhiều trang trước -->
    <span ng-if="page > 2">...</span>

    <!-- Hiển thị các số trang gần trang hiện tại -->
    <a href="" ng-repeat="n in getPageNumbers()" ng-click="changePage(n)" ng-class="{ 'active': n === page }">
        {{n + 1}}
    </a>

    <!-- Dấu "..." nếu có nhiều trang sau -->
    <span ng-if="page < totalPages - 3">...</span>

    <!-- Trang cuối -->
    <a href="" ng-click="changePage(totalPages - 1)" ng-class="{ 'active': page === totalPages - 1 }">
        {{totalPages}}
    </a>

    <!-- Nút Next -->
    <a href="" ng-click="changePage(page + 1)" ng-class="{ 'disabled': page === totalPages - 1 }" class="page-btn next">
        <i class="fa-solid fa-chevron-right"></i>
    </a>
</section>

<style>
    /* Khi hover vào các biểu tượng xóa bộ lọc, hiển thị con trỏ bàn tay */
    .badge .fa-xmark {
        cursor: pointer;
        /* Chuyển con trỏ thành hình bàn tay khi hover vào */
    }
</style>