<div class="container">
    <section class="py-5">
        <h5 class="fw-bold mb-5" style="color: #47357B;">
            <a href="#!san_pham" class="text-decoration-none"><i class="fas fa-angle-left me-2"></i>Back to shopping</a>
        </h5>

        <div class="container my-5">
            <div class="row gx-4 gx-lg-5 align-items-start">
                <div class="col-md-1" style="padding-left: 0px; padding-right: 0px;">
                    <div class="align-items-start mb-2">
                        <div class="mb-3" ng-repeat="anh in anhSanPham track by $index">
                            <img class="d-block w-100" ng-src="{{anh.urlAnh}}" alt="Ảnh sản phẩm"
                                style="cursor:pointer;" ng-click="showProductDetail($index)">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item mySlides" ng-repeat="anh in anhSanPham track by $index"
                                ng-class="{'active': $index === 0}">
                                <img class="d-block w-100" ng-src="{{anh.urlAnh}}" alt="Ảnh sản phẩm" />
                            </div>
                        </div>

                        <!-- Dots -->
                        <div class="dots">
                            <span class="demo" ng-repeat="anh in anhSanPham track by $index"
                                ng-click="currentDiv($index + 1)"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 d-flex flex-column" ng-repeat="sanPhamChiTiet in sanPhamChiTiet track by $index">
                    <h1 class="display-5 fw-bolder">{{sanPhamChiTiet.tenSanPham}}</h1>
                    <div class="star" style="color: rgb(223, 223, 66);">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="fs-5 d-flex justify-content-between mt-4">
                        <div>
                            <div>
                                <!-- Hiển thị giá khuyến mãi nếu có giảm giá và trong khoảng thời gian hợp lệ -->
                                <span
                                    ng-if="sanPhamChiTiet.giaKhuyenMai !== null && isValidDiscountPeriod(sanPhamChiTiet)"
                                    class="text-danger me-3" style="font-weight: bold; font-size: 30px;">
                                    {{ sanPhamChiTiet.giaKhuyenMai | currency: '': 0}} VND
                                </span>
                                <!-- Hiển thị giá ban đầu nếu có giảm giá và trong khoảng thời gian hợp lệ -->
                                <span
                                    ng-if="sanPhamChiTiet.giaKhuyenMai !== null && isValidDiscountPeriod(sanPhamChiTiet)"
                                    style="font-size: 20px;">
                                    <del>{{ sanPhamChiTiet.giaBan | currency: '': 0}}</del> VND
                                </span>
                                <!-- Nếu không có giảm giá hoặc không trong khoảng thời gian khuyến mãi, chỉ hiển thị giá gốc -->
                                <h4 ng-if="sanPhamChiTiet.giaKhuyenMai === null || !isValidDiscountPeriod(sanPhamChiTiet)"
                                    style="font-size: 30px;">
                                    <span>{{ sanPhamChiTiet.giaBan | currency: '': 0}} VND</span>
                                </h4>
                            </div>
                        </div>

                        <!-- Hiển thị số lượng tồn chỉ khi đã chọn đủ các thuộc tính -->
                        <div ng-if="selectedMaterial && selectedColor && selectedSize">
                            <span ng-if="soLuongTon > 0">Còn hàng</span>
                            <span ng-if="soLuongTon === 0" style="color: red;">Hết hàng</span>
                        </div>
                    </div>
                    <hr>
                    <div class="product-details">
                        <div>
                            <p><strong>Mã sản phẩm:</strong> {{sanPhamChiTiet.maSanPham}}</p>
                            <!-- Chọn chất liệu -->
                            <p><strong>Chất liệu:</strong>
                            <div class="swatch-attribute material">
                                <div class="swatch-attribute-options clearfix">
                                    <div class="swatch-option" ng-repeat="chatLieu in chatLieuChiTiet track by $index"
                                        ng-click="chonChatLieu(chatLieu)"
                                        ng-class="{'selected': selectedMaterial === chatLieu.idChatLieu}">
                                        {{chatLieu.tenChatLieu}}
                                    </div>
                                </div>
                            </div>
                            </p>
                            <!-- Chọn màu sắc -->
                            <p><strong>Màu sắc:</strong>
                            <div class="swatch-attribute color">
                                <div class="swatch-attribute-options clearfix">
                                    <div class="swatch-option" ng-repeat="mauSac in mauSacChiTiet track by $index"
                                        ng-click="chonMauSac(mauSac)"
                                        ng-class="{'selected': selectedColor === mauSac.idMauSac}">
                                        {{mauSac.tenMauSac}}
                                    </div>
                                </div>
                            </div>
                            </p>
                            <!-- Chọn kích thước -->
                            <p><strong>Kích thước:</strong>
                            <div class="swatch-attribute size">
                                <div class="swatch-attribute-options clearfix">
                                    <div class="swatch-option" ng-repeat="kichThuoc in kichThuocChiTiet track by $index"
                                        ng-click="chonKichThuoc(kichThuoc)"
                                        ng-class="{'selected': selectedSize === kichThuoc.idKichThuoc}">
                                        {{kichThuoc.tenKichThuoc}}
                                    </div>
                                </div>
                            </div>
                            <!-- Hiển thị số lượng tồn chỉ khi đã chọn đủ các thuộc tính -->
                            <div ng-if="selectedMaterial && selectedColor && selectedSize">
                                <p>Số lượng tồn: {{soLuongTon}}</p>
                            </div>
                            </p>
                        </div>
                    </div>
                    <!-- Buttons for adding to cart and checkout -->
                    <div class="d-flex flex-column">
                        <div class="d-flex mb-2">
                            <!-- Thêm vào Giỏ hàng Button -->
                            <div class="flex-grow-1 mt-4" ng-disabled="soLuongTon === 0">
                                <button class="btn btn-danger w-100" style="font-size: 18px;"
                                    ng-click="addToCart(sanPhamChiTiet)">
                                    <i class="fa-solid fa-bag-shopping" style="font-size: 24px;"></i> Giỏ hàng
                                </button>
                            </div>
                        </div>

                        <!-- Button for Size Guide -->
                        <button class="btn btn-info mt-2" data-bs-toggle="modal" data-bs-target="#sizeGuideModal">
                            Hướng dẫn chọn kích thước
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal for Size Guide -->
        <div class="modal fade" id="sizeGuideModal" tabindex="-1" aria-labelledby="sizeGuideModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sizeGuideModalLabel">Hướng dẫn chọn Size</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body-heprl">
                        <!-- Nội dung khác của modal, nếu có -->
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion" id="productAccordion">
            <!-- Mô tả sản phẩm -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDescription">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
                        Mô tả sản phẩm
                    </button>
                </h2>
                <div id="collapseDescription" class="accordion-collapse collapse show"
                    aria-labelledby="headingDescription" data-bs-parent="#productAccordion">
                    <div class="accordion-body">
                        <p ng-repeat="sanPhamChiTiet in sanPhamChiTiet track by $index">{{sanPhamChiTiet.moTa}}</p>
                    </div>
                </div>
            </div>

        </div>
        <hr>
    </section>
</div>