<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="page-title">Danh Sách Đơn Hàng</h1>
            <div class="admin-control">
                <!-- <div class="admin-control-left">
                    <select name="tinh-trang" id="tinh-trang" onchange="findOrder()">
                        <option value="2">Tất cả</option>
                        <option value="1">Đã xử lý</option>
                        <option value="0">Chưa xử lý</option>
                    </select>
                </div> -->
                <div class="admin-control-center">
                    <form action="" class="form-search">
                        <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                        <input id="form-search-order" type="text" class="form-search-input"
                            placeholder="Tìm kiếm mã đơn..." ng-model="searchQuery"
                            ng-change="searchHoaDon()">
                    </form>
                </div>
                <!-- <div class="admin-control-right">
                    <form action="" class="fillter-date">
                        <div>
                            <label for="time-start">Từ</label>
                            <input type="date" class="form-control-date" id="time-start" onchange="findOrder()">
                        </div>
                        <div>
                            <label for="time-end">Đến</label>
                            <input type="date" class="form-control-date" id="time-end" onchange="findOrder()">
                        </div>
                    </form>
                    <button class="btn-reset-order" onclick="cancelSearchOrder()"><i
                            class="fa-light fa-arrow-rotate-right"></i></button>
                </div> -->
            </div>
            <!-- Modal body -->
            <div class="modal-body p-2">
                <ul class="nav nav-tabs" id="statTab" role="tablist">
                    <li class="nav-item" role="presentation" ng-repeat="tab in tabs">
                        <a class="nav-link" ng-class="{'active': selectedTab === tab.id}" data-bs-toggle="tab"
                            href="#{{tab.id}}" role="tab" aria-controls="{{tab.id}}" aria-selected="true"
                            ng-click="selectTab(tab.id)">
                            {{tab.label}}
                            <span class="badge bg-info">{{ countOrders(tab.status) }}</span>
                            <!-- Hiển thị số lượng đơn hàng -->
                        </a>
                    </li>
                </ul>
                <div class="tab-content mt-3" id="statTabContent">
                    <div class="tab-pane fade" ng-repeat="tab in tabs"
                        ng-class="{'show active': selectedTab === tab.id}" id="{{tab.id}}" role="tabpanel"
                        aria-labelledby="{{tab.id}}-tab">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="table-responsive text-center">
                                    <table class="table table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Mã đơn</th>
                                                <th scope="col">Khách hàng</th>
                                                <th scope="col">Số điện thoại</th>
                                                <th scope="col">Tổng tiền</th>
                                                <th scope="col">Loại đơn hàng</th>
                                                <th scope="col">Ngày đặt</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Thao tác</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                ng-repeat="item in dsHoaDon | filter: {tenLoaiTrangThaiHoaDon: tab.status} track by item.idHoaDon">
                                                <td>{{$index + 1}}</td>
                                                <td>{{item.maHoaDon}}</td>
                                                <td>{{item.tenNguoiDung}}</td>
                                                <td>{{item.sdt}}</td>
                                                <td>{{ item.thanhTien/1 | currency: '': 0 }} VND</td>
                                                <td>{{ item.loai ? 'Online' : 'Tại quầy' }}</td>
                                                <td>{{item.ngayTao | date:'dd/MM/yyyy'}}</td>
                                                <td>{{item.tenLoaiTrangThaiHoaDon}}</td>
                                                <td>
                                                    <a href="#!detail_hd/{{item.idHoaDon}}"
                                                        class="btn btn-warning btn-sm">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>