<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <h1 class="page-title">Quản lý đợt giảm giá</h1>
            <div class="admin-control">
                <div class="admin-control-left">
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            style="background-color: #f0f0f0; color: #000;">
                            Tất cả
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#!phieu_giam_gia">Phiếu giảm giá</a></li>
                            <li><a class="dropdown-item" href="#!dot_giam_gia">Đợt giảm giá</a></li>
                        </ul>
                    </div>
                </div>
                <div class="admin-control-right">
                    <a href="#!add_dot_km">
                        <button type="button" class="btn-control-large">
                            <i class="fa-light fa-plus"></i> Thêm đợt giảm giá mới
                        </button>
                    </a>
                </div>
            </div>
            <div class="border border-3 rounded p-3 mb-5">
                <!-- Form lọc khuyến mãi -->
                <form class="row g-3 mb-4">
                    <!-- <div class="col-md-4">
                        <label for="tenDotGiamGia" class="form-label">Tên đợt giảm giá</label>
                        <input type="text" class="form-control" id="tenDotGiamGia" ng-model="tenDotGiamGia">
                    </div>
                    <div class="col-md-4">
                        <label for="trang-thai" class="form-label">Trạng thái</label>
                        <select class="form-select" id="trang-thai" ng-model="selectedTrangThaiGiamGia">
                            <option value="">Tất cả</option>
                            <option ng-repeat="trangThai in dsTrangThaiGiamGia"
                                value="{{trangThai.idTrangThaiGiamGia}}">
                                {{trangThai.tenTrangThaiGiamGia}}
                            </option>
                        </select>
                    </div> -->

                    <div class="col-md-4">
                        <label for="kieuGiamGia" class="form-label">Kiểu giảm giá</label>
                        <select class="form-select" ng-model="selectedDiscountType"
                            ng-change="filterVoucherByDiscountType()">
                            <option value="">Tất cả</option>
                            <option value="true">$</option>
                            <option value="false">%</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <!-- <button type="button" class="btn btn-danger" ng-click="searchData()">Tìm kiếm</button> -->
                        <button type="button" class="btn btn-secondary"
                            ng-click="fetchData('http://localhost:8080/api/admin/dot_giam_gia', 'dsDotKhuyenMai', 'Fetched Voucher:')">Làm
                            mới</button>
                    </div>
                </form>
            </div>

            <!-- Danh sách đợt giảm giá -->
            <div id="show-product">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên đợt giảm giá</th>
                                        <th scope="col">Kiểu giảm giá</th>
                                        <th scope="col">Giá trị giảm</th>
                                        <th scope="col">Ngày bắt đầu</th>
                                        <th scope="col">Ngày kết thúc</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in dsDotKhuyenMai">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>
                                            {{ item.tenDotGiamGia}}
                                        </td>
                                        <td>
                                            {{ item.kieuGiamGia ? '$' : '%' }}
                                        </td>
                                        <td>
                                            {{ item.kieuGiamGia ? formatCurrency(item.giaTriGiamGia) :
                                            item.giaTriGiamGia + ' %' }}
                                        </td>
                                        <td>{{item.ngayBatDau | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.ngayKetThuc | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.trangThaiGiamGia.tenTrangThaiGiamGia}}</td>
                                        <td>
                                            <a href="#!add_dot_km/{{item.idDotGiamGia}}" class="text-decoration-none">
                                                <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
                                            </a>
                                            <button class="btn btn-danger"
                                                ng-click="deleteDotGiamGia(item.idDotGiamGia)"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>