<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <h1 class="page-title">Quản lý kích thước</h1>
            <div class="admin-control">
                <div class="admin-control-left">
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            style="background-color: #f0f0f0; color: #000;">
                            Tất cả
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#!san_pham">Sản Phẩm</a></li>
                            <li><a class="dropdown-item" href="#!danh_muc">Danh Mục</a></li>
                            <li><a class="dropdown-item" href="#!chat_lieu">Chất Liệu</a></li>
                            <li><a class="dropdown-item" href="#!mau_sac">Màu Sắc</a></li>
                            <li><a class="dropdown-item" href="#!kich_thuoc">Kích Thước</a></li>
                        </ul>
                    </div>
                </div>
                <div class="admin-control-center">
                    <form action="" class="form-search">
                        <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                        <input id="form-search-product" type="text" class="form-search-input"
                            placeholder="Tìm kiếm kích thước..." ng-model="tenKichThuoc" ng-change="onSearch()">
                    </form>
                </div>

                <div class="admin-control-right">
                    <button class="btn-control-large" id="btn-cancel-product" ng-click="onRefresh()">
                        <i class="fa-light fa-rotate-right"></i> Làm mới
                    </button>
                    <button type="button" class="btn-control-large" data-toggle="modal" data-target="#addKichThuocModal">
                        <i class="fa-light fa-plus"></i> Thêm kích thước mới
                    </button>
                </div>
            </div>
            <div id="show-product">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên kích thước</th>
                                        <th scope="col">Mô tả</th>
                                        <th scope="col">Ngày tạo</th>
                                        <th scope="col">Ngày cập nhật</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in dsKichThuoc">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>{{item.tenKichThuoc}}</td>
                                        <td>{{item.moTa}}</td>
                                        <td>{{item.ngayTao | date:'shortDate'}}</td>
                                        <td>{{item.ngayCapNhat | date:'shortDate'}}</td>
                                        <td>
                                            <a href="#!kich_thuoc" class="btn btn-warning btn-sm"
                                                ng-click="chinhSuaKichThuoc(item)">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="#!kich_thuoc" class="btn btn-danger btn-sm"
                                                ng-click="onDelete(item.id)">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal Thêm/Kích Thước -->
<div class="modal fade" id="addKichThuocModal" tabindex="-1" role="dialog" aria-labelledby="addKichThuocModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addKichThuocModalLabel">{{isEditing ? 'Sửa Kích Thước' : 'Thêm Kích Thước'}}</h5>
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="productForm" ng-submit="isEditing ? onUpdate() : onCreate()">
                    <div class="form-group">
                        <label for="ten_kich_thuoc">Tên Kích Thước:</label>
                        <input type="text" class="form-control" ng-model="KichThuoc.tenKichThuoc" id="ten_kich_thuoc" required>
                    </div>

                    <div class="form-group">
                        <label for="mo_ta">Mô Tả:</label>
                        <textarea class="form-control" ng-model="KichThuoc.moTa" id="mo_ta"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">{{isEditing ? 'Cập Nhật' : 'Thêm Kích Thước'}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
