<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <h1 class="page-title">Quản lý phiếu giảm giá</h1>
            <div class="admin-control">
                <div class="admin-control-left">
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            style="background-color: #f0f0f0; color: #000;">
                            Tất cả
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#!phieu_giam_gia">Phiếu giảm giá</a></li>
                            <li><a class="dropdown-item" href="#!dot_giam_gia">Đợt giảm giá</a></li>
                        </ul>
                    </div>
                </div>
                <div class="admin-control-center">
                    <!-- Form tìm kiếm -->
                    <form action="" class="form-search">
                        <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                        <!-- Tìm kiếm theo tên voucher -->
                        <input id="form-search-product" type="text" class="form-search-input"
                            placeholder="Tìm kiếm theo tên voucher" ng-model="searchText" ng-change="searchVoucher()"
                            ng-keydown="checkSearchKey($event)" ng-model="item.tenVoucher">
                    </form>
                </div>

                <div class="admin-control-right">
                    <a href="#!add_phieu_km">
                        <button type="button" class="btn-control-large">
                            <i class="fa-light fa-plus"></i> Thêm phiếu giảm giá mới
                        </button>
                    </a>
                </div>
            </div>
            <div class="border border-3 rounded p-3 mb-5">
                <form class="row g-3 mb-4">
                    <div class="col-md-4 position-relative">
                        <label for="ma-khuyen-mai" class="form-label">Mã khuyến mãi</label>
                        <input type="text" class="form-control pe-5" id="ma-khuyen-mai"
                            placeholder="Tìm kiếm theo mã voucher" ng-model="searchMaVoucher"
                            ng-change="searchVoucher()" ng-keydown="checkEnterKey($event)">
                        <!-- Icon Clear -->
                        <i class="fa-regular fa-circle-xmark position-absolute top-50 end-0 translate-middle-y clear-icon"
                            ng-show="searchMaVoucher" ng-click="clearSearch('maVoucher')"></i>
                    </div>

                    <div class="col-md-4 position-relative">
                        <label for="trang-thai" class="form-label">Trạng thái</label>
                        <select class="form-select" id="trang-thai" ng-model="selectedTrangThaiGiamGia"
                            ng-change="searchVoucherNangCao()">
                            <option value="">Tất cả</option>
                            <option ng-repeat="trangThai in dsTrangThaiGiamGia"
                                value="{{trangThai.idTrangThaiGiamGia}}">
                                {{trangThai.tenTrangThaiGiamGia}}
                            </option>
                        </select>
                        <!-- Icon Clear -->
                        <i class="fa-regular fa-circle-xmark position-absolute top-50 end-0 translate-middle-y clear-icon"
                            ng-show="selectedTrangThaiGiamGia" ng-click="clearSearch('trangThai')"></i>
                    </div>

                    <!-- Kiểu giảm giá -->
                    <div class="col-md-4 position-relative">
                        <label for="trang-thai" class="form-label">Kiểu giảm giá</label>
                        <select class="form-select pe-5" ng-model="selectedDiscountType"
                            ng-change="searchVoucherNangCao()">
                            <option value="">Tất cả</option>
                            <option value="true">$</option>
                            <option value="false">%</option>
                        </select>
                        <!-- Icon Clear -->
                        <i class="fa-regular fa-circle-xmark position-absolute top-50 end-0 translate-middle-y clear-icon"
                            ng-show="selectedDiscountType" ng-click="clearSearch('discountType')"></i>
                    </div>
                    <div class="col-12 mt-2">
                        <!-- Nút Tìm kiếm -->
                        <button type="button" class="btn btn-danger" ng-click="searchVoucherNangCao()">Tìm kiếm</button>
                    </div>
                </form>
            </div>


            <!-- Danh sách đợt giảm giá -->
            <div id="show-product">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Mã</th>
                                        <th scope="col">Tên giảm giá</th>
                                        <th scope="col">Kiểu giảm giá</th>
                                        <th scope="col">Giá trị giảm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Ngày bắt đầu</th>
                                        <th scope="col">Ngày kết thúc</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in dsKhuyenMai | filter:search"
                                        ng-class="getRowClass(item.trangThaiGiamGia.tenTrangThaiGiamGia)">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>{{item.maVoucher}}</td>
                                        <td>{{item.tenVoucher}}</td>
                                        <td>
                                            {{ item.kieuGiamGia ? '$' : '%' }}
                                        </td>
                                        <td>
                                            {{ item.kieuGiamGia ? formatCurrency(item.giaTriGiamGia) :
                                            item.giaTriGiamGia + ' %' }}
                                        </td>
                                        <td>{{item.soLuong}}</td>
                                        <td>{{item.ngayBatDau | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.ngayKetThuc | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.trangThaiGiamGia.tenTrangThaiGiamGia}}</td>
                                        <td>
                                            <a href="#!add_phieu_km/{{item.idVoucher}}" class="text-decoration-none">
                                                <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
                                            </a>
                                            <button class="btn btn-danger" ng-click="deleteVoucher(item.idVoucher)"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<style>
    select {
        background-color: #eee;
        padding: 10px 20px;
        border-radius: 5px;
        outline: none;
        border: none;
        margin-left: 10px;
        border-right: 10px solid #eee !important;
        height: 40px;
        cursor: pointer;
    }

    /* Style cho input và select */
    select.form-select,
    input.form-control {
        padding-right: 35px;
        /* Cung cấp đủ không gian cho icon */
        transition: border-right 0.3s ease;
        /* Thêm hiệu ứng chuyển đổi cho border-right */
    }

    /* Khi select có giá trị (class .has-value) */
    select.form-select.has-value {
        border-right: 35px solid #eee !important;
        /* Tăng kích thước border khi có giá trị được chọn */
    }

    /* Style cho icon Clear */
    .clear-icon {
        cursor: pointer;
        font-size: 18px;
        /* Kích thước icon */
        color: #888;
        /* Màu sắc của icon */
        margin-top: 13px;
        padding-right: 40px;
    }

    /* Đảm bảo có đủ không gian cho icon bên trong các input và select */
    input.form-control,
    select.form-select {
        padding-right: 35px;
        /* Thêm khoảng trống bên phải cho icon */
    }

    /* Đảm bảo icon nằm chính giữa chiều dọc của input và select */
    .position-relative {
        position: relative;
    }

    /* Tạo hiệu ứng hover cho icon khi nó xuất hiện */
    .clear-icon:hover {
        color: #f00;
        /* Màu đỏ khi hover vào icon */
    }
</style>