<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <h1 class="page-title">Quản lý sản phẩm</h1>
            <div class="admin-control">
                <div class="admin-control-left">
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            style="background-color: #f0f0f0; color: #000;">
                            Tất cả
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#!san_pham">Sản Phẩm</a></li>
                            <li><a class="dropdown-item" href="#!danh_muc">Danh Mục</a></li>
                            <li><a class="dropdown-item" href="#!chat_lieu">Chất Liệu</a></li>
                            <li><a class="dropdown-item" href="#!mau_sac">Màu Sắc</a></li>
                            <li><a class="dropdown-item" href="#!kich_thuoc">Kích Thước</a></li>
                        </ul>
                    </div>
                </div>
                <div class="admin-control-center">
                    <form action="" class="form-search">
                        <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                        <input id="form-search-product" type="text" class="form-search-input"
                            placeholder="Tìm kiếm sản phẩm..." oninput="showProduct()" ng-model="item.tenSanPham">
                    </form>
                </div>

                <div class="admin-control-right">
                    <a href="#!san_pham">
                        <button type="button" class="btn-control-large" data-bs-toggle="modal"
                            data-bs-target="#addProductModal">
                            <i class="fa-light fa-plus"></i> Thêm sản phẩm mới
                        </button>
                    </a>
                </div>
            </div>
            <div id="show-product">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Mã sản phẩm</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Mô tả</th>
                                        <th scope="col" class="text-center">Trạng thái</th>
                                        <th scope="col " class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in dsSanPham | filter:item">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td class="text-center">{{item.maSanPham}}</td>
                                        <td>{{item.tenSanPham}}</td>
                                        <td>{{item.moTa}}</td>
                                        <td>
                                            <input type="checkbox" ng-model="item.trangThai"
                                                ng-change="updateTrangThai(item.idSanPham, item.trangThai)"
                                                id="user-status-{{$index}}" class="switch-input">
                                            <label for="user-status-{{$index}}" class="switch"></label>
                                        </td>
                                        <td class="text-center">
                                            <a href="#!add_sp/{{item.idSanPham}}" class="btn btn-success btn-sm">
                                                <i class="fa-solid fa-plus"></i>
                                            </a>
                                            <a href="#!detail_sp/{{item.idSanPham}}" class="btn btn-light btn-sm">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#updateProductModal"
                                                ng-click="loadProduct(item.idSanPham)">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <!-- <a href="#!san_pham" class="btn btn-danger btn-sm"
                                                ng-click="confirmDelete(item.idSanPham)">
                                                <i class="fas fa-trash"></i>
                                            </a> -->

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>







<!-- Modal Thêm Sản phẩm -->
<div class="modalsiu fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h2 class="page-title1 bg-danger">Thêm sản phẩm mới</h2>
            <div class="modal-header">
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="modal-body">
                    <form action="" class="add-product-form">
                        <div class="modal-content-left">
                            <div class="image-preview-container">
                                <!-- Hình ảnh sẽ được hiển thị ở đây -->
                            </div>
                            <div class="form-group file" style="margin-top: 155px; margin-bottom: 50px;">
                                <label for="up-hinh-anh" class="form-label-file"><i
                                        class="fa-solid fa-cloud-arrow-up"></i>Chọn hình ảnh</label>
                                <input accept="image/jpeg, image/png, image/jpg" id="up-hinh-anh" name="up-hinh-anh"
                                    type="file" class="form-control" multiple
                                    onchange="angular.element(this).scope().uploadImages(this)">
                            </div>
                        </div>
                        <div class="modal-content-right">
                            <div class="form-group">
                                <label for="category" class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="tenSanPham" ng-model="SanPham.tenSanPham"
                                    placeholder="Nhập tên sản phẩm" name="tenSanPham" required>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="category" class="form-label">Chọn danh mục</label>
                                <select id="selectCategory" class="form-select" required ng-model="SanPham.idDanhMuc">
                                    <option value="">Chọn danh mục...</option>
                                    <option ng-repeat="item in dsDanhMuc track by $index" value="{{item.idDanhMuc}}">
                                        {{item.tenDanhMuc}}
                                    </option>
                                </select>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="gia-moi" class="form-label">Giá bán</label>
                                <input type="text" class="form-control" id="giaBan" ng-model="SanPham.giaBan"
                                    placeholder="Nhập giá bán" name="giaBan" required>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="mo-ta" class="form-label">Mô tả</label>
                                <textarea class="product-desc" id="mo-ta" placeholder="Nhập mô tả sản phẩm..."
                                    ng-model="SanPham.moTa" name="giaBan" required></textarea>
                                <span class="form-message"></span>
                            </div>
                            <button class="form-submit btn-update-product-form edit-product-e"
                                id="update-product-button" ng-click="onCreate()" type="submit" form="addProductForm"
                                class="btn btn-danger">
                                <i class="fa-light fa-pencil"></i>
                                <span>LƯU SẢN PHẨM</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal Cập Nhật Sản phẩm -->
<div class="modalsiu fade" id="updateProductModal" tabindex="-1" aria-labelledby="updateProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h2 class="page-title1 bg-warning">Cập nhật sản phẩm mới</h2>
            <div class="modal-header">
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="modal-body">
                    <form action="" class="add-product-form">
                        <div class="modal-content-left">
                            <div class="image-preview-container">
                                <!-- Hiển thị ảnh nếu có -->
                                <div ng-repeat="imageUrl in SanPham.hinhAnh" class="image-preview">
                                    <img ng-src="{{imageUrl}}" alt="Product Image" class="img-thumbnail">
                                </div>
                            </div>
                            <div class="form-group file" style="margin-top: 25px; margin-bottom: 50px;">
                                <label for="up-hinh-anh" class="form-label-file"><i
                                        class="fa-solid fa-cloud-arrow-up"></i>Chọn hình ảnh</label>
                                <input accept="image/jpeg, image/png, image/jpg" id="up-hinh-anh" name="up-hinh-anh"
                                    type="file" class="form-control" multiple
                                    onchange="angular.element(this).scope().uploadImages(this)">
                            </div>
                        </div>
                        <div class="modal-content-right">
                            <div class="form-group">
                                <label for="category" class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="tenSanPham" ng-model="SanPham.tenSanPham"
                                    placeholder="Nhập tên sản phẩm" name="tenSanPham" required>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="category" class="form-label">Chọn danh mục</label>
                                <select id="selectCategory" class="form-select" required ng-model="SanPham.idDanhMuc">
                                    <option value="">Chọn danh mục...</option>
                                    <option ng-repeat="item in dsDanhMuc track by $index" value="{{item.idDanhMuc}}"
                                        ng-selected="item.idDanhMuc === SanPham.idDanhMuc">
                                        {{item.tenDanhMuc}}
                                    </option>
                                </select>
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="gia-moi" class="form-label">Giá bán</label>
                                <input type="text" class="form-control" id="giaBan" ng-model="SanPham.giaBan"
                                    placeholder="Nhập giá bán" name="giaBan" required>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="mo-ta" class="form-label">Mô tả</label>
                                <textarea class="product-desc" id="mo-ta" placeholder="Nhập mô tả sản phẩm..."
                                    ng-model="SanPham.moTa" name="giaBan" required></textarea>
                                <span class="form-message"></span>
                            </div>
                            <button class="form-submit btn-update-product-form edit-product-e"
                                id="update-product-button" ng-click="onUpdate()" type="submit" form="addProductForm"
                                class="btn btn-danger">
                                <i class="fa-light fa-pencil"></i>
                                <span>CẬP NHẬT SẢN PHẨM</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .image-preview-container {
        display: flex;
        flex-wrap: wrap;
        /* Cho phép các hình ảnh xuống dòng nếu không đủ chỗ */
        gap: 10px;
        /* Khoảng cách giữa các ảnh */
    }

    .image-preview {
        box-sizing: border-box;
        /* Đảm bảo padding và border không làm tăng kích thước */
        width: 48%;
        /* Mỗi ảnh chiếm 48% chiều rộng để vừa 2 ảnh trên một dòng */
    }
</style>