<!-- The Modal -->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="authModalLabel">Đăng nhập</h4>
        <button class="cart-close" data-bs-dismiss="modal"><i class="fa-sharp fa-solid fa-xmark"></i></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <ul class="nav nav-tabs" id="authTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab"
              aria-controls="login" aria-selected="true">Đăng nhập</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab"
              aria-controls="register" aria-selected="false">Đăng ký</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="forgot-password-tab" data-bs-toggle="tab" href="#forgot-password" role="tab"
              aria-controls="forgot-password" aria-selected="false">Quên mật khẩu</a>
          </li>
        </ul>

        <div class="tab-content mt-3" id="authTabContent">
          <!-- Login Form -->
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form ng-submit="login()">
              <div class="mb-3">
                <label for="loginEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="Nhập email" required
                  ng-model="email">
              </div>
              <div class="mb-3">
                <label for="loginPassword" class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="Nhập mật khẩu" required
                  ng-model="password">
              </div>
              <button type="submit" class="btn btn-primary">Đăng nhập</button>
              <p class="error-message" ng-show="errorMessage">{{errorMessage}}</p>
            </form>
          </div>

          <!-- Register Form -->
          <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <form id="registerForm">
              <div class="mb-3">
                <label for="tenNguoiDung" class="form-label">Tên người dùng</label>
                <input type="email" class="form-control" id="tenNguoiDung" placeholder="Nhập email" name="tenNguoiDung"
                  required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Nhập email" required name="email">
              </div>
              <div class="mb-3">
                <label for="matKhau" class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" id="matKhau" placeholder="Nhập mật khẩu" required
                  name="matKhau">
              </div>
              <div class="mb-3">
                <label for="sdtNguoiDung" class="form-label">Số điện thoại</label>
                <input type="email" class="form-control" id="sdtNguoiDung" placeholder="Nhập số điện thoại"
                  name="sdtNguoiDung" required>
              </div>
              <div class="mb-3">
                <label for="diaChi" class="form-label">Địa chỉ</label>
                <input type="email" class="form-control" id="diaChi" placeholder="Nhập địa chỉ" name="diaChi" required>
              </div>
              <div class="mb-3">
                <label for="gioiTinh" class="form-label">Giới tính</label>
                <select class="form-select" id="gioiTinh" name="gioiTinh">
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Đăng ký</button>
            </form>
          </div>

          <!-- Forgot Password Form -->
          <div class="tab-pane fade" id="forgot-password" role="tabpanel" aria-labelledby="forgot-password-tab">
            <form>
              <div class="mb-3">
                <label for="forgotPasswordEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="forgotPasswordEmail" placeholder="Nhập email để khôi phục"
                  required>
              </div>
              <button type="submit" class="btn btn-primary">Khôi phục mật khẩu</button>
            </form>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>