<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <!-- Thuộc tính sản phẩm -->
            <div class="mb-3">
                <h1 class="page-title">Thêm sản phẩm mới</h1>
                <div class="border border-3 rounded p-3">
                    <div class="d-flex justify-content-between">
                        <a href="#!san_pham">
                            <button class="btn btn-secondary">
                                <i class="fa-light fa-rotate-right"></i> Trở lại
                            </button>
                        </a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#addProductModal">
                            <i class="fa-light fa-plus"></i> Thêm sản phẩm mới
                        </button>
                    </div>

                </div>
                <h3 class="mb-4 mt-3">Thuộc tính sản phẩm</h3>
                <div class="border border-3 rounded p-3 mt-3">
                    <label for="selectProduct" class="form-label">Chọn sản phẩm</label>
                    <select class="form-select" required ng-model="productData.idSanPham">
                        <option value="">Chọn sản phẩm...</option>
                        <option ng-repeat="item in dsSanPham track by $index" value="{{item.idSanPham}}">
                            {{item.tenSanPham}}
                        </option>
                    </select>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="material" class="form-label">Chất liệu</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="material" class="form-control me-2" readonly
                                    ng-model="materialDisplay" placeholder="Chọn chất liệu">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#materialModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col mb-3">
                            <label for="color" class="form-label">Màu sắc</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="color" class="form-control me-2" readonly ng-model="colorDisplay"
                                    placeholder="Chọn màu sắc">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#colorModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col mb-3">
                            <label for="size" class="form-label">Kích thước</label>
                            <div class="d-flex align-items-center">
                                <input type="text" id="size" class="form-control me-2" readonly ng-model="sizeDisplay"
                                    placeholder="Chọn kích thước">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#sizeModal">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </div>
                        </div>

                        <button type="button" class="btn btn-danger" ng-click="saveProduct()">
                            <i class="fa-light fa-plus"></i> Thêm thuộc tính
                        </button>
                    </div>

                </div>
            </div>
            <div class="border border-3 rounded p-3 mb-5">
                <label for="selectProduct" class="form-label">Chọn sản phẩm</label>
                <select class="form-select" required ng-model="productData.idSanPham"
                        ng-change="fetchProductDetails(productData.idSanPham)">
                    <option value="">Chọn sản phẩm...</option>
                    <option ng-repeat="item in dsSanPham track by $index" value="{{item.idSanPham}}">
                        {{item.tenSanPham}}
                    </option>
                </select>
            
                <h3 class="mb-4 mt-3">Danh sách các sản phẩm cùng loại</h3>
            
                <div>
                    <button class="btn btn-danger" ng-click="saveQuantities()">Lưu số lượng sản phẩm</button>
                </div>
            
                <div id="show-product">
                    <div class="card shadow mb-4 mt-3" ng-if="filteredProducts.length > 0">
                        <div class="card-body">
                            <h4 class="mb-4 mt-3 text-center">Tên sản phẩm: {{filteredProducts[0].colors[0].products[0].productName}}</h4>
            
                            <!-- Lặp qua từng nhóm sản phẩm -->
                            <div ng-repeat="materialGroup in filteredProducts">
                                <h6>Chất liệu: {{materialGroup.material}}</h6>
            
                                <div ng-repeat="colorGroup in materialGroup.colors">
                                    <h7>{{colorGroup.color}}</h7>
            
                                    <div class="table-responsive text-center">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        <!-- Checkbox chọn tất cả -->
                                                        <input type="checkbox" ng-model="selectAll"
                                                               ng-change="toggleSelectAll(selectAll, colorGroup.products[0].items)">
                                                    </th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col">Chất liệu</th>
                                                    <th scope="col">Màu sắc</th>
                                                    <th scope="col">Kích thước</th>
                                                    <th scope="col">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Lặp qua các sản phẩm -->
                                                <tr ng-repeat="item in colorGroup.products[0].items">
                                                    <th scope="row">
                                                        <!-- Checkbox chọn sản phẩm -->
                                                        <input type="checkbox" ng-model="item.selected"
                                                               ng-change="updateSelectAll(colorGroup.products[0].items)">
                                                    </th>
                                                    <td>{{item.tenSanPham}}</td>
                                                    <td>
                                                        <!-- Input số lượng chung cho tất cả sản phẩm đã chọn -->
                                                        <input type="number" class="form-control"
                                                               ng-model="item.soLuong"
                                                               ng-change="updateSelectedQuantities()">
                                                    </td>
                                                    <td>{{item.tenChatLieu}}</td>
                                                    <td>{{item.tenMauSac}}</td>
                                                    <td>{{item.tenKichThuoc}}</td>
                                                    <td>
                                                        <a href="#!Add_SP" class="btn btn-danger btn-sm"
                                                           ng-click="xoaSanPhamCT(item.idSanPhamCT)">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!filteredProducts.length">Không có sản phẩm nào phù hợp.</div>
                </div>
            </div>
            
            
        </div>
    </div>
</main>

<!-- Modal Thêm Sản phẩm -->
<div class="modalsiu fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h5 class="modal-title" id="addProductModalLabel">Thêm sản phẩm</h5>
            <div class="modal-header">
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="modal-body">
                    <form action="" class="add-product-form">
                        <div class="modal-content-left">
                            <div class="image-preview-container">
                                <!-- Hình ảnh sẽ được hiển thị ở đây -->
                            </div>
                            <div class="form-group file" style="margin-top: 155px; margin-bottom: 50px;">
                                <label for="up-hinh-anh" class="form-label-file"><i
                                        class="fa-solid fa-cloud-arrow-up"></i>Chọn hình ảnh</label>
                                <input accept="image/jpeg, image/png, image/jpg" id="up-hinh-anh" name="up-hinh-anh"
                                    type="file" class="form-control" multiple
                                    onchange="angular.element(this).scope().uploadImages(this)">
                            </div>
                        </div>
                        <div class="modal-content-right">
                            <div class="form-group">
                                <label for="category" class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="tenSanPham" ng-model="SanPham.tenSanPham"
                                    placeholder="Nhập tên sản phẩm" name="tenSanPham" required>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="category" class="form-label">Chọn danh mục</label>
                                <select id="selectCategory" class="form-select" required ng-model="SanPham.idDanhMuc">
                                    <option value="">Chọn danh mục...</option>
                                    <option ng-repeat="item in dsDanhMuc track by $index" value="{{item.idDanhMuc}}">
                                        {{item.tenDanhMuc}}
                                    </option>
                                </select>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="gia-moi" class="form-label">Giá bán</label>
                                <input type="text" class="form-control" id="giaBan" ng-model="SanPham.giaBan"
                                    placeholder="Nhập giá bán" name="giaBan" required>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="mo-ta" class="form-label">Mô tả</label>
                                <textarea class="product-desc" id="mo-ta" placeholder="Nhập mô tả sản phẩm..."
                                    ng-model="SanPham.moTa" name="giaBan" required></textarea>
                                <span class="form-message"></span>
                            </div>
                            <button class="form-submit btn-update-product-form edit-product-e"
                                id="update-product-button" ng-click="onCreate()" type="submit" form="addProductForm"
                                class="btn btn-danger">
                                <i class="fa-light fa-pencil"></i>
                                <span>LƯU SẢN PHẨM</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






<!--Modal Chất liệu -->
<div class="modal fade" id="materialModal" tabindex="-1" aria-labelledby="materialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="materialModalLabel">Chọn chất liệu</h5>
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="chatLieu in dsChatLieu track by $index">
                        <input type="checkbox" ng-model="chatLieu.selected" ng-change="updateMaterial(chatLieu)" />
                        {{chatLieu.tenChatLieu}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal Màu sắc -->
<div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="colorModalLabel">Chọn Màu Sắc</h5>
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <h6>Màu Sắc</h6>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="mauSac in dsMauSac track by $index">
                        <input type="checkbox" ng-model="mauSac.selected" ng-change="updateColor(mauSac)" />
                        {{mauSac.tenMauSac}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal Kích thước -->
<div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sizeModalLabel">Chọn Kích Thước</h5>
                <button class="modal-close product-form" data-dismiss="modal" ng-click="resetModal()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <h6>Kích Cỡ</h6>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="kichThuoc in dsKichThuoc track by $index">
                        <input type="checkbox" ng-model="kichThuoc.selected" ng-change="updateSize(kichThuoc)" />
                        {{kichThuoc.tenKichThuoc}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>